<!DOCTYPE html>
<html lang="en">

<head>
	{{>head}}
</head>

<body>
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		{{>header}}
		<!-- /Header -->

		<!-- Sidebar -->
		{{>sidebar}}
		<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			

		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	{{>js}}

</body>

</html>